<li>
    <a href="#" class=""><img src="<%= url("/img/200x200.gif")%>" class=""></a>
    <h4 class=""><%= product.name%></h4>
    <div class="product-price">
        <span class="normal-price"> Price: <%= product.price %>$</span>
    </div>
    <form action="<%= url('/cart')%>" method="POST">
        <input type="hidden" name="id" value="<%= product.id %>" />
        <button type="submit" class="btn btn-success navbar-btn">Add to Cart</button>
    </form>
</li>